<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Basic Config Generator</title>

<link href="static/Untitled2.css" rel="stylesheet">
<link href="static/index.css" rel="stylesheet">
<script src="static/jquery-1.11.1.min.js"></script>
</head>
<body>
<div id="PageHeader1" style="position:absolute;overflow:hidden;text-align:left;left:0px;top:0px;width:100%;height:73px;z-index:6;">
</div>

<form action="" method=post enctype=multipart/form-data>
		<p><input type=file id="FileUpload1" style="position:absolute;left:325px;top:183px;width:334px;height:46px;line-height:46px;z-index:5;" name="file">
		<input type="submit" id="Button2" name="file" value="Create the Basic Config File" style="position:absolute;left:359px;top:293px;width:314px;height:48px;z-index:6;">
		</form>

<input type="button" id="Button3" name="" value="Please enter the Full Configuration File" style="position:absolute;left:15px;top:183px;width:293px;height:38px;z-index:8;">

<div id="wb_Text2" style="position:absolute;left:0px;top:450px;width:645px;height:16px;z-index:2;text-align:left;">
<span style="color:#000000;font-family:Arial;font-size:13px;">Comment. Basic Conf file needs to be opened in txt mode, not html, or it will show the last lines all toghether. </span></div>

<div id="wb_Text1" style="position:absolute;left:0px;top:473px;width:645px;height:16px;z-index:2;text-align:left;">
<span style="color:#000000;font-family:Arial;font-size:13px;">Issue 1. Banner lines are not being removed yet, need to do it manually for while. That is now fixed in April 27th. </span></div>

</div>
<a href="fabiano.lima"><img src="static/images/img0001.jpg" id="Banner2" alt="Please drop me an email in case any error/bug or Suggestion. fabiano.lima@bt.com. Thank you ! " style="border-width:0;position:absolute;left:0px;top:503px;width:1346px;height:39px;z-index:4;"></a>
<div id="PageFooter1" style="position:absolute;overflow:hidden;text-align:left;left:0px;top:928px;width:100%;height:100px;z-index:5;">
</div>
</body>
</html>